phaser/
sfx/
ui/hex.svg
ui/parts_beard-*.svg
ui/parts_eyes-04.svg
ui/parts_eyes-05.svg
ui/parts_eyes-36.svg
ui/parts_faces-01.svg
ui/parts_faces-02.svg
ui/parts_faces-03.svg
ui/parts_hair-14.svg
ui/parts_hair-15.svg
ui/parts_hair-16.svg
ui/parts_hair-17.svg
ui/parts_hair-18.svg
ui/parts_mouth-06.svg
ui/parts_mouth-07.svg
ui/parts_mouth-08.svg
ui/parts_shirt-19.svg
ui/parts_shirt-20.svg
ui/parts_shirt-21.svg
ui/parts_shirt-22.svg
ui/parts_shirt-23.svg
ui/parts_shirt-24.svg
ui/parts_shirt-25.svg
ui/parts_shirt-26.svg
ui/parts_shirt-27.svg
ui/parts_shirt-28.svg
ui/parts_shirt-29.svg
ui/parts_shirt-35.svg
ui/male_beard-09.svg
ui/male_beard-10.svg
ui/male_beard-11.svg
ui/male_beard-12.svg
ui/male_beard-13.svg
ui/male_beard-30.svg
ui/male_beard-31.svg
ui/male_beard-32.svg
ui/male_beard-33.svg
ui/male_beard-34.svg
ui/male_beard-39.svg
ui/male_eyes-04.svg
ui/male_eyes-05.svg
ui/male_eyes-36.svg
ui/male_faces-01.svg
ui/male_faces-02.svg
ui/male_faces-03.svg
ui/male_hair-*.svg
ui/male_mouth-06.svg
ui/male_mouth-*.svg
ui/male_shirt-*.svg
ui/female_eyes-04.svg
ui/female_eyes-05.svg
ui/female_faces-01.svg
ui/female_faces-02.svg
ui/female_faces-03.svg
ui/female_hair-09.svg
ui/female_hair-10.svg
ui/female_hair-11.svg
ui/female_hair-12.svg
ui/female_hair-13.svg
ui/female_mouth-*.svg
ui/female_shirt-*.svg
ui/female_eyes-26.svg
